<div>
    <h1>USER DESIGNADO: {{numAl}}</h1>
    <h3>{{nombre}} {{apellido}}</h3>
    <p>{{edad}} {{correo}} {{telefono}}</p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</div>