<div>
    <h1>USER DESIGNADO:</h1>
    <button id="lol">XD</button>

        
            <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Venta</th>
                <th>Medidas</th>
                <th>Categoria</th>
            </tr>
        </thead>
        {{#each products.docs}}
        <tbody>
            <tr>
                <td>{{nombre}}</td>
                <td>${{precio}}</td>
                <td>{{medidas}}</td>
                <td>{{category}}</td>
            </tr>
        {{/each}}
        <tr>
                <td>{{totales}}</td>
            </tr>
        </tbody>
    </table>
    {{#if products.hasPrevPage}}
        <a href="/products?page={{products.prevPage}}">Atras</a>
    {{/if}}
    {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}">Siguiente</a>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script type='module' src="/js/main.js"></script>
</div>